server:
  port: 8000

ncp:
  storage:
    region: kr-standard
    endpoint: https://kr.object.ncloudstorage.com
    credentials:
      access-key: ${NCP_STORAGE_ACCESS_KEY}
      secret-key: ${NCP_STORAGE_SECRET_KEY}
    bucket:
      name: ${NCP_STORAGE_BUCKET_NAME}


spring:
  application:
    name: "artego"
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: prod  # TODO : 올릴 때 여기 prod 로 바꿔라

  jackson:
    time-zone: Asia/Seoul # 대한민국 표준시 (KST)

  jpa:
    database: mysql

  servlet:
    multipart: # 기획에 따라 변경 가능
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB

  security:
    oauth2:
      client:
        registration:
          naver:
            client-name: naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
              - mobile
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
